<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>PAX-Kurier</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale=1">
        <link href="/styles/index.css" rel="stylesheet" type="text/css">
        <link href="/styles/main_style.css" rel="stylesheet" type="text/css">
        <link href="/styles/courier.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="/images/favicon.ico"/>
    </head>
    <body>
        <header>
            <a href="/courier/" class="logo">
                <img src="/images/logo.svg" alt="logo">
                <p><span>PAX-Kurier</span> System obsługi paczek</p>
            </a> 
            <nav>
                <div class="menu">
                    <ul>
                        <li><a href="/courier/">Strona główna</a></li>
                        {% if not loggedin %}
                        <li><a href="/courier/registration">Rejestracja</a></li>
                        {% endif %}
                        {% if loggedin %}
                        <li><a href="/courier/get_packs">Odbierz paczki</a></li>
                        <li><a href="/courier/waybills-list/0">Lista paczek</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            {% if not loggedin %}
            <a href="/courier/login">
                <img src="/images/konto-kurier.svg" alt="moje konto"> 
            </a>
            {% endif %}
            {% if loggedin %}
            <a href="/courier/waybills-list/0">
                <img src="/images/konto-kurier.svg" alt="moje konto"> 
            </a>
            {% endif %}
        </header>

        <section class="image"></section>

        <section class="text">
            <div class="container">
                <h2>Wybierz która opcja cię interesuje </h2>
                <div class="btn-block">
                    <a class="btn" href="/courier/pick_up">Odbierz paczkę od klienta</a>           
                </div>
                <div class="btn-block">
                    <a class="btn" href="/courier/from_paczkomat"> Generuj token do paczkomatu</a>           
                </div>
            </div>
        </section>

        <footer>
            <p class="footer-inline left">&copy; 2020 Katarzyna Stankiewicz</p>
            <p class="footer-inline right">Projekt realizowany w ramach laboratorium Programowanie Aplikacji Mobilnych i Webowych</p>
        </footer>
    </body>
</html>