<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>PAX-Kurier</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale=1">
        <link href="/styles/waybills-list.css" rel="stylesheet" type="text/css">
        <link href="/styles/main_style.css" rel="stylesheet" type="text/css">
        <link href="/styles/courier.css" rel="stylesheet" type="text/css">
        <link href="/styles/form_style.css" rel="stylesheet" type="text/css">
        <script type="module" src="/scripts/courier-list-loader.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>
        <link rel="shortcut icon" href="/images/favicon.ico"/>
    </head>
    <body>
        <header>
            <a href="/courier/" class="logo">
                <img src="/images/logo.svg" alt="logo">
                <p><span>PAX-Kurier</span> System obsługi paczek</p>
            </a> 
            <nav>
                <div class="menu">
                    <ul>
                        <li><a href="/courier/">Strona główna</a></li>
                        {% if not loggedin %}
                        <li><a href="/courier/registration">Rejestracja</a></li>
                        {% endif %}
                        {% if loggedin %}
                        <li><a href="/courier/get_packs">Odbierz paczki</a></li>
                        <li><a href="/courier/waybills_list">Lista paczek</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            {% if not loggedin %}
            <a href="/courier/login">
                <img src="/images/konto-kurier.svg" alt="moje konto"> 
            </a>
            {% endif %}
            {% if loggedin %}
            <a href="/courier/waybills_list">
                <img src="/images/konto-kurier.svg" alt="moje konto"> 
            </a>
            {% endif %}
        </header>

        <div class="max-width-elem">
            <a id="logout_button" class="btn" href="/courier/logout" method="POST"> Wyloguj się</a>
        </div>

        <section>
            <h1 id="title">Lista twoich paczek</h1>
            <div class="max-width-elem page-nav">
                <div class="nav-btn-block" id="prev_nav_btn">
                    
                </div>
                <div class="nav-btn-block" id="next_nav_btn">
                    
                </div>
            </div>
        </section>


        <footer>
            <p class="footer-inline left">&copy; 2020 Katarzyna Stankiewicz</p>
            <p class="footer-inline right">Projekt realizowany w ramach laboratorium Programowanie Aplikacji Mobilnych i Webowych</p>
        </footer>
    </body>
</html>