<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>PAX</title>
        <meta charset="utf-8">
        <link href="/styles/style.css" rel="stylesheet" type="text/css">
        <link href="/styles/main_style.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="/images/favicon.ico"/>
    </head>
    <body>
        <header>
            <img src="images/logo.svg" alt="logo">
            <p><span>PAX</span> System obsługi paczek</p>
            <nav>
                <div class="content top">
                    <ul>
                        <li><a href="/">Strona główna</a></li>
                        <li><a href="registration">Rejestracja</a></li>
                        <li><a href="send">Nadaj paczkę</a></li>
                        <li><a href="#">Kontakt</a></li>
                    </ul>
                </div>
            </nav>
            <a href="registration">
                <img src="images/konto.svg" alt="moje konto"> 
            </a>
        </header>

        <section class="text welcome">
            <div class="container">
                <h2>System obsługi paczek PAX</h2>
                <article>
                    <h3>Witaj!</h3>
                    <p>
                        Jeśli masz paczkę do wysłania lub odbioru i cenisz sobie profesjonalną, bezproblemową i szybką obsługę - dobrze trafiłeś. 
                        Zajmiemy się twoim zamówieniem najszybciej jak to tylko możliwe. Dzięki wprowadzeniu nowoczesnych paczkomatów, nie jesteś 
                        już ograniczony godzinami pracy poczty lub kuriera, możesz wysyłać i odpierać przesyłki w dowolnej chwili.
                    </p>
                </article>
            </section>

        <section class="image"></section>

        <section class="text subscribtion">
            <div class="container">
                <article>
                <h3>O nas</h3>
                <p>
                    System Obsługi Paczek PAX jest firmą zajmującą się doręczaniem przesyłek w szybki i wygodny sposób. 
                    Dzięki dobrej logistyce i skutecznej organizacji PAX świadczy najlepszą jakość usług na terenie całej Polski. Paczki doręczane są do konkretnych punków 
                    i rozsyłane do wielu paczkomatów, zlokalizowanych w strategicznych punktach tak, by odebranie oraz wysłanie paczki było jak najwygodniejsze.
                    
                </p>
                <h3>Abonamenty</h3>
                <p>
                    Czymś, co wyróżnia tę naszą firmę spośród pozostałych, jest bezkonkurencyjna oferta abonamentów, pozwalająca zaoszczędzić, niezależnie od tego
                    czy potrzebujesz wysłać mniejsze przesyłki od czasu do czasu, czy prowadzisz firmę i jesteś zaineresowany wysyłką dużej ilości towarów
                    na większą skalę. 
                </p>
                </article>
                <table>
                    <caption>Oferta abonamentów</caption>
                    <tbody>
                        <tr class="top-tr">
                            <th>rodzaj abonamentu</th>
                            <th>ważność pakietu</th>
                            <th>limit paczek <br> <b>gabaryt A</b></th>
                            <th>limit paczek <br> <b>gabaryt B</b></th>
                            <th>limit paczek <br> <b>gabaryt C</b></th>
                            <th>cena</th>
                        </tr>
                        <tr>
                            <td>STARTER</td>
                            <td>1 msc</td>
                            <td>9</td>
                            <td>3</td>
                            <td>1</td>
                            <td>89zł</td>
                        </tr>
                        <tr>
                            <td>BASIC</td>
                            <td>1 msc</td>
                            <td>15</td>
                            <td>5</td>
                            <td>3</td>
                            <td>129zł</td>
                        </tr>
                        <tr>
                            <td>STANDARD</td>
                            <td>1 msc</td>
                            <td>20</td>
                            <td>9</td>
                            <td>5</td>
                            <td>179zł</td>
                        </tr>
                        <tr>
                            <td>PRO</td>
                            <td>1 msc</td>
                            <td>50</td>
                            <td>20</td>
                            <td>7</td>
                            <td>249zł</td>
                        </tr>
                        <tr>
                            <td>PREMIUM</td>
                            <td>2 msc</td>
                            <td>bez limitu</td>
                            <td>50</td>
                            <td>20</td>
                            <td>599zł</td>
                        </tr>
                        <tr>
                            <td>ROYAL</td>
                            <td>3 msc</td>
                            <td>bez limitu</td>
                            <td>bez limitu</td>
                            <td>50</td>
                            <td>799zł</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <footer>
            <p class="footer-inline left">&copy; 2020 Katarzyna Stankiewicz</p>
            <p class="footer-inline right">Projekt realizowany w ramach laboratorium Programowanie Aplikacji Mobilnych i Webowych</p>
        </footer>
    </body>
</html>