<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>PAX</title>
        <meta charset="utf-8">
        <link href="/styles/registration.css" rel="stylesheet" type="text/css">
        <link href="/styles/main_style.css" rel="stylesheet" type="text/css">
        <link href="/styles/form_style.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="/images/favicon.ico"/>
        <script type="module" src="/scripts/login.js"></script>    
    </head>
    <body>
        <header>
            <a href="/" class="logo">
                <img src="/images/logo.svg" alt="logo">
                <p><span>PAX</span> System obsługi paczek</p>
            </a> 
            <nav>
                <div class="menu">
                    <ul>
                        <li><a href="/">Strona główna</a></li>
                        <li class="logged_out_only"><a href="/registration">Rejestracja</a></li>
                        <li class="logged_in_only"><a href="/send">Nadaj paczkę</a></li>
                        <li class="logged_in_only"><a href="/waybills-list">Lista wysłanych paczek</a></li>
                    </ul>
                </div>
            </nav>
            <a href="/registration">
                <img src="/images/konto.svg" alt="moje konto"> 
            </a>
        </header>

        <section class="nav-block">
                <a class="selected" href="/login">Zaloguj się</a>
                <a href="/registration">Zarejestruj się</a>
        </section>

        <form id="login-form" class="login-form">

            <div class="column">
                <div class="form-col">

                <div class="form-row">
                    <label for="login" class="required">Login</label>
                    <input id="login" type="text" name="login"/>
                </div>

                <div class="form-row">
                    <label for="password" class="required">Hasło</label>
                    <input id="password" type="password" name="password"/>
                </div>

                <div class="btn-block">
                    <input class="btn" id="button-log-form" type="submit" value="Zaloguj"/>               
                </div>    

                </div>
                <img src="/images/paczka.jpg" alt="paczka">
            </div>
        </form>

        <footer>
            <p class="footer-inline left">&copy; 2020 Katarzyna Stankiewicz</p>
            <p class="footer-inline right">Projekt realizowany w ramach laboratorium Programowanie Aplikacji Mobilnych i Webowych</p>
        </footer>
    </body>
</html>