<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>PAX</title>
        <meta charset="utf-8">
        <link href="/styles/registration.css" rel="stylesheet" type="text/css">
        <link href="/styles/main_style.css" rel="stylesheet" type="text/css">
        <link href="/styles/form_style.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="/images/favicon.ico"/>
        <script src="/scripts/registration.js"></script>    
    </head>
    <body>
        <header>
            <a href="/" class="logo">
                <img src="/images/logo.svg" alt="logo">
                <p><span>PAX</span> System obsługi paczek</p>
            </a> 
            <nav>
                <div class="menu">
                    <ul>
                        <li><a href="/">Strona główna</a></li>
                        <li><a href="/registration">Rejestracja</a></li>
                        <li><a href="/send">Nadaj paczkę</a></li>
                        <li><a href="#">Kontakt</a></li>
                    </ul>
                </div>
            </nav>
            <a href="/registration">
                <img src="/images/konto.svg" alt="moje konto"> 
            </a>
        </header>


        <section class="nav-block">
            <a href="/login">Zaloguj się</a>
            <a href="/registration">Zarejestruj się</a>
        </section>

        <form action="/save_user"  method="POST" id="registration-form">
            <div class="column">
                <div class="form-col">
                    <h6>Dane osobowe</h6>

                    <div class="form-row">
                        <label for="name" class="required">Imię</label>
                        <input id="name" type="text" name="imię"/>
                    </div>

                    <div class="form-row">
                        <label for="surname" class="required">Nazwisko</label>
                        <input id="surname" type="text" name="nazwisko"/>
                    </div>

                    <div class="form-row">
                        <label for="bdate" class="required">Data urodzenia</label>
                        <input id="bdate" type="date" name="data urodzenia"/>
                    </div>

                    <div class="form-row">
                        <label for="pesel" class="required">PESEL</label>
                        <input id="pesel" type="text" name="pesel"/>
                    </div>

                    <h6>Adres</h6>

                    <div class="form-row">
                        <label for="country">Kraj</label>
                        <input id="country" type="text" name="kraj">
                    </div>
    
                    <div class="form-row">
                        <label for="postal_code">Kod pocztowy</label>
                        <input id="postal_code" type="text" name="kod pocztowy">
                    </div>
    
                    <div class="form-row">
                        <label for="city">Miasto</label>
                        <input id="city" type="text" name="miasto">
                    </div>
    
                    <div class="form-row">
                        <label for="street">Ulica</label>
                        <input id="street" type="text" name="ulica">
                    </div>

                    <div class="form-row">
                        <label for="house_nr">nr domu</label>
                        <input id="house_nr" type="text" name="numer domu">
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="form-col">
                    <h6>Dane logowania</h6>

                <div class="form-row">
                    <label for="login" class="required">Login</label>
                    <input id="login" type="text" name="login"/>
                </div>

                <div class="form-row">
                    <label for="password" class="required">Hasło</label>
                    <input id="password" type="password" name="hasło"/>
                </div>

                <div class="form-row">
                    <label for="second_password" class="required">Powtórz hasło</label>
                    <input id="second_password" type="password" name="powtórzone hasło"/>
                </div>

                <div class="btn-block">
                    <input id="button-reg-form" type="submit" value="Rejestruj"/>               
                </div>    

                </div>
                <img src="images/paczka.jpg" alt="paczka">
            </div>
        </form>

        <footer>
            <p class="footer-inline left">&copy; 2020 Katarzyna Stankiewicz</p>
            <p class="footer-inline right">Projekt realizowany w ramach laboratorium Programowanie Aplikacji Mobilnych i Webowych</p>
        </footer>
    </body>
</html>