<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>PAX</title>
        <meta charset="utf-8">
        <link href="/styles/registration.css" rel="stylesheet" type="text/css">
        <link href="/styles/main_style.css" rel="stylesheet" type="text/css">
        <link href="/styles/form_style.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="/images/favicon.ico"/>
        <script type="module" src="/scripts/send.js"></script>    
    </head>
    <body>
        <header>
            <a href="/" class="logo">
                <img src="/images/logo.svg" alt="logo">
                <p><span>PAX</span> System obsługi paczek</p>
            </a> 
            <nav>
                <div class="menu">
                    <ul>
                        <li><a href="/">Strona główna</a></li>
                        <li><a href="/registration">Rejestracja</a></li>
                        <li><a href="/send">Nadaj paczkę</a></li>
                        <li><a href="#">Kontakt</a></li>
                    </ul>
                </div>
            </nav>
            <a href="/registration">
                <img src="/images/konto.svg" alt="moje konto"> 
            </a>
        </header>

        <section>
            <h1>Nadaj paczkę</h1>
            
            <form method="POST" action="/login/shipment" id="send-form">
                <div class="max-width-elem">
                    <div class="form-row">
                        <label for="product_name">Nazwa produktu</label>
                        <input id="product_name" type="text" name="product_name">
                    </div>
                </div>

                <div class="column">
                    <div class="form-col">
                        <h4>Dane nadawcy</h4>
        
                        <div class="form-row">                
                            <label for="sender_name">Imię nadawcy</label>
                            <input id="sender_name" type="text" name="sender_name">
                        </div>
        
                        <div class="form-row">
                            <label for="sender_surname">Nazwisko nadawcy</label>
                            <input id="sender_surname" type="text" name="sender_surname">
                        </div>
        
                        <div class="form-row">
                            <label for="sender_phone">Telefon kontaktowy nadawcy</label>
                            <input id="sender_phone" type="text" name="sender_phone">
                        </div>

                        <div class="form-row">
                            <label for="sender_country">Kraj nadawcy</label>
                            <input id="sender_country" type="text" name="sender_country">
                        </div>
        
                        <div class="form-row">
                            <label for="sender_postcode">Kod pocztowy nadawcy</label>
                            <input id="sender_postcode" type="text" name="sender_postcode">
                        </div>
        
                        <div class="form-row">
                            <label for="sender_city">Miasto nadawcy</label>
                            <input id="sender_city" type="text" name="sender_city">
                        </div>
        
                        <div class="form-row">
                            <label for="sender_street">Ulica nadawcy</label>
                            <input id="sender_street" type="text" name="sender_street">
                        </div>
        
                        <div class="form-row">
                            <label for="sender_house_nr">Numer domu nadawcy</label>
                            <input id="sender_house_nr" type="text" name="sender_house_nr">
                        </div>
                    </div>
                </div>
               
                <div class="column">
                    <div class="form-col">
                        <h4>Dane odbiorcy</h4>
                        <div class="form-row">
                            <label for="recipient_name">Imię odbiorcy</label>
                            <input id="recipient_name" type="text" name="recipient_name">
                        </div>
    
                        <div class="form-row">
                            <label for="recipient_surname">Nazwisko odbiorcy</label>
                            <input id="recipient_surname" type="text" name="recipient_surname">
                        </div>
    
                        <div class="form-row">
                            <label for="recipient_phone">Telefon kontaktowy odbiorcy</label>
                            <input id="recipient_phone" type="text" name="recipient_phone">
                        </div>
    
                        <div class="form-row">
                            <label for="recipient_country">Kraj odbiorcy</label>
                            <input id="recipient_country" type="text" name="recipient_country">
                        </div>
        
                        <div class="form-row">
                            <label for="recipient_postcode">Kod pocztowy odbiorcy</label>
                            <input id="recipient_postcode" type="text" name="recipient_postcode">
                        </div>
    
                        <div class="form-row">
                            <label for="recipient_city">Miasto odbiorcy</label>
                            <input id="recipient_city" type="text" name="recipient_city">
                        </div>
    
                        <div class="form-row">
                            <label for="recipient_street">Ulica odbiorcy</label>
                            <input id="recipient_street" type="text" name="recipient_street">
                        </div>
    
                        <div class="form-row">
                            <label for="recipient_house_nr">Numer domu odbiorcy</label>
                            <input id="recipient_house_nr" type="text" name="recipient_house_nr">
                        </div>
                    </div>
                </div>
                
                <div class="upload-section">
                    <p>Dodaj zdjęcie paczki, którą wysyłasz</p>
                    <input type="file" id="pack_image" name="pack_image">
                </div>
                <div class="btn-block" id="button-send-form">
                    <input type="submit" value="Nadaj paczkę">
                </div>
            </form>
        </section>


        <footer>
            <p class="footer-inline left">&copy; 2020 Katarzyna Stankiewicz</p>
            <p class="footer-inline right">Projekt realizowany w ramach laboratorium Programowanie Aplikacji Mobilnych i Webowych</p>
        </footer>
    </body>
</html>