<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>PAX</title>
        <meta charset="utf-8">
        <link href="/styles/registration.css" rel="stylesheet" type="text/css">
        <link href="/styles/main_style.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="/images/favicon.ico"/>
    </head>
    <body>
        <header>
            <a href="/" class="logo">
                <img src="/images/logo.svg" alt="logo">
                <p><span>PAX</span> System obsługi paczek</p>
            </a> 
            <nav>
                <div class="menu">
                    <ul>
                        <li><a href="/">Strona główna</a></li>
                        <li><a href="/registration">Rejestracja</a></li>
                        <li><a href="/send">Nadaj paczkę</a></li>
                        <li><a href="#">Kontakt</a></li>
                    </ul>
                </div>
            </nav>
            <a href="/registration">
                <img src="/images/konto.svg" alt="moje konto"> 
            </a>
        </header>

        <section>

            <table>
                <caption>Lista nadanych paczek</caption>
                <tbody>
                    <tr>
                        <th>nazwa zamówienia</th>
                        <th>imię i nazwisko nadawcy</th>
                        <th>adres nadawcy</th>
                        <th>imię i nazwisko odbiorcy</th>
                        <th>adres odbiorcy</th>
                    </tr>
                    {% for waybill in my_waybills %}
                    <tr>
                        <td>{{waybill.get_title()}}</td>
                        <td>{{waybill.get_sender_name()}}</td>
                        <td>{{waybill.get_sender_addr()}}</td>
                        <td>{{waybill.get_recipient_name()}}</td>
                        <td>{{waybill.get_recipient_addr()}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>


        <footer>
            <p class="footer-inline left">&copy; 2020 Katarzyna Stankiewicz</p>
            <p class="footer-inline right">Projekt realizowany w ramach laboratorium Programowanie Aplikacji Mobilnych i Webowych</p>
        </footer>
    </body>
</html>