<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>PAX</title>
        <meta charset="utf-8">
        <link href="/styles/waybills-list.css" rel="stylesheet" type="text/css">
        <link href="/styles/main_style.css" rel="stylesheet" type="text/css">
        <link href="/styles/form_style.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="/images/favicon.ico"/>
        <script src="/scripts/waybills-list.js"></script>
    </head>
    <body>
        <header>
            <a href="/app/" class="logo">
                <img src="/images/logo.svg" alt="logo">
                <p><span>PAX</span> System obsługi paczek</p>
            </a> 
            <nav>
                <div class="menu">
                    <ul>
                        <li><a href="/app/">Strona główna</a></li>
                        {% if not loggedin %}
                        <li><a href="/app/registration">Rejestracja</a></li>
                        {% endif %}
                        {% if loggedin %}
                        <li><a href="/app/send">Nadaj paczkę</a></li>
                        <li><a href="/app/waybills-list">Lista wysłanych paczek</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            {% if not loggedin %}
            <a href="/app/login">
                <img src="/images/konto.svg" alt="moje konto"> 
            </a>
            {% endif %}
            {% if loggedin %}
            <a href="/app/waybills-list">
                <img src="/images/konto.svg" alt="moje konto"> 
            </a>
            {% endif %}
        </header>

        <div class="max-width-elem">
            <a id="logout_button" class="btn" href="/logout" method="POST"> Wyloguj się</a>
        </div>

        <section>
            <h1 id="title">Lista twoich paczek</h1>
            <table><tbody>
                    <tr>
                        <th>zdjęcie paczki</th>
                        <th>identyfikator paczki</th>
                        <th>pobieranie</th>
                        <th>usuń</th>
                    </tr>
                    {% for waybill, img_path in my_waybills %}
                    <tr>
                        <td><img src="/images/packs_images/{{ img_path }}" alt="zdjęcie paczki"></td>
                        <td>{{ waybill }}</td>
                        <td>
                            <a href="https://localhost:8081/waybill/{{ waybill}}">
                                <img src="/images/download.svg" alt="pobierz"><p>Pobierz</p>
                            </a>
                        </td>
                        <td><a id="delete_button" onClick='delete_pack("{{waybill}}")'>usuń</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>


        <footer>
            <p class="footer-inline left">&copy; 2020 Katarzyna Stankiewicz</p>
            <p class="footer-inline right">Projekt realizowany w ramach laboratorium Programowanie Aplikacji Mobilnych i Webowych</p>
        </footer>
    </body>
</html>