<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>PAX</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale=1.0">
        <link href="/styles/waybills-list.css" rel="stylesheet" type="text/css">
        <link href="/styles/main_style.css" rel="stylesheet" type="text/css">
        <link href="/styles/form_style.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="/images/favicon.ico"/>
        <script src="/scripts/waybills-list.js"></script>
        <script type="module" src="/scripts/waybills-list-loader.js"></script>
    </head>
    <body>
        <header>
            <a href="/app/" class="logo">
                <img src="/images/logo.svg" alt="logo">
                <p><span>PAX</span> System obsługi paczek</p>
            </a> 
            <nav>
                <div class="menu">
                    <ul>
                        <li><a href="/app/">Strona główna</a></li>
                        {% if not loggedin %}
                        <li><a href="/app/registration">Rejestracja</a></li>
                        {% endif %}
                        {% if loggedin %}
                        <li><a href="/app/send">Nadaj paczkę</a></li>
                        <li><a href="/app/waybills-list/0">Lista wysłanych paczek</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            {% if not loggedin %}
            <a href="/app/login">
                <img src="/images/konto.svg" alt="moje konto"> 
            </a>
            {% endif %}
            {% if loggedin %}
            <a href="/app/waybills-list/0">
                <img src="/images/konto.svg" alt="moje konto"> 
            </a>
            {% endif %}
        </header>

        <div class="max-width-elem">
            <a id="logout_button" class="btn" href="/app/logout" method="POST"> Wyloguj się</a>
        </div>

        <section>
            <h1 id="title">Lista twoich paczek</h1>
            
            <div class="max-width-elem" id="empty-list-warning">Nie masz żadnych paczek na swojej liście</div>
            <div class="max-width-elem page-nav">
                <div class="nav-btn-block" id="prev_nav_btn">
                    
                </div>
                <div class="nav-btn-block" id="next_nav_btn">
                    
                </div>
            </div>
        </section>


        <footer>
            <p class="footer-inline left">&copy; 2020 Katarzyna Stankiewicz</p>
            <p class="footer-inline right">Projekt realizowany w ramach laboratorium Programowanie Aplikacji Mobilnych i Webowych</p>
        </footer>
    </body>
</html>