.content{
    display: flex;
    justify-content: center;
}

.content .left{
    width: 60%;
}

.content .left img{
    max-width: 100%;
}

.content .right{
    width: 40%;
    align-items: center;
}


.content .form-block{
    margin-left: 40px;
    margin-right: 10px;
    justify-content: center;
    padding: 20px;
}

h2{
    text-align: center;
}

form .input-block{
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 5px;
}


form .input-block label{
    width: 90px;
    min-width: 90px;
}

form .input-block input{
    width: 170px;
    padding: 10px 5px;
    margin-left: 10px;
}

.warning-field{
    font-size: 10px;
    margin-left: auto;
    color: red;
    padding-right: 10px;
    text-align: right;
}

.uncorrect-field{
    font-size: 15px;
    margin: auto;
    color: red;
    text-align: center;
}

.correct-field{
    font-size: 15px;
    margin: auto;
    color: green;
    text-align: center;
}

form .btn-block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

form .btn-block input{
    padding: 10px 50px;
    background-color: #5dd401;
    color: #fff;
    border-radius: 20px;
    font-size: 20px;
    outline-style: none;
    border: none;
    margin-bottom: 10px;
}

form .btn-block input:hover{
    background-color: #BA2AC7;
    color: #fff;
}