.nav-block{
    display: flex;
    border-bottom-style: inset;
    border-color: #5dd401;
    box-shadow: 0px 2px #20031e0c;
    margin-bottom: 30px;
}

.nav-block a{
    margin-top: 40px;
    margin-left: 150px;
    font-size: 30px;
    color: #20031e2c;
    margin-bottom: 10px;
}

.nav-block a.selected{
    margin-top: 40px;
    margin-left: 150px;
    font-size: 40px;
    color: #5dd401;
    text-shadow: 2px 1px #20031e0c;
}