<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>PAX - Paczkomat</title>
        <meta charset="utf-8">
        <link href="/styles/index.css" rel="stylesheet" type="text/css">
        <link href="/styles/main_style.css" rel="stylesheet" type="text/css">
        <link href="/styles/form_style.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="/images/favicon.ico"/>
        <script type="module" src="/scripts/paczkomat.js"></script>
        
    </head>
    <body>
        <header>
            <a href="/paczkomat/" class="logo">
                <img src="/images/logo.svg" alt="logo">
                <p><span>PAX - Paczkomat</span> System obsługi paczek</p>
            </a> 
        </header>

        <section class="image"></section>

        <section class="text">
            <div class="container">
                <h2>Witamy w paczkomacie PAX</h2>
                <p>Podaj identyfikator paczkomatu:</p>
                <form id="paczkomat-form" class="paczkomat-form">

                    <div class="column">
                        <div class="form-col">
        
                        <div class="form-row">
                            <label for="paczkomat_id" class="required">identyfikator paczkomatu</label>
                            <input id="paczkomat_id" type="text" name="paczkomat_id"/>
                        </div>

                        <div class="btn-block">
                            <input class="btn" id="button-submit-form" type="submit" value="Przejdź do paczkomatu"/>               
                        </div>    
        
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <section class="text">
            <div class="container">
                <h2>Lista dostępnych paczkomatów:</h2>
                <ul>
                    <li>WAW006</li>
                    <li>OLN01A</li>
                    <li>KRA003</li>
                    <li>OLS06A</li>
                </ul>
            </div>
        </section>

        <footer>
            <p class="footer-inline left">&copy; 2020 Katarzyna Stankiewicz</p>
            <p class="footer-inline right">Projekt realizowany w ramach laboratorium Programowanie Aplikacji Mobilnych i Webowych</p>
        </footer>
    </body>
</html>